# Playwright
.node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
browser-context.json
lesson21/node_modules/

# Reporters & logs
lesson21/log/
lesson21/allure-report/
lesson21/allure-results/
lesson21/._obs_test_details-*/
lesson21/*.log

# Allure
allure-results/
allure-report/

# BrowserStack SDK
._obs_test_details-*/
.obs_test_details-ugza9nxxh4uy8fbekdwnazlpmzgyoylezr7ovxt0/
log/
*.log

# ReportPortal


# Общие
*.zip
*.tmp

